
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="consignees_notified_parties_check_your_answers" method="post" id="add-notify-after-consignee-form" onsubmit="return redirectPage()">
        <a href="consignees_list" class="govuk-back-link">Back</a>


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">Consignees and notified parties</span>
                  <h1 class="govuk-fieldset__heading">
                    Do you need to add any notified parties?
                  </h1>
                </legend>
                <!-- <div id="changed-name-hint" class="govuk-hint">
                  This includes changing your last name or spelling your name differently.
                </div> -->
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name" name="add-notify-after-consignee" type="radio" value="how_notify_party">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="add-notify-after-consignee" type="radio" value="consignees_notified_parties_check_your_answers">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                      No
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>




        <input type="hidden" name="mode-of-transport">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>

      <script>
        function redirectPage() {
          let checked = false;
        document.getElementsByName("add-notify-after-consignee").forEach((x) => {
          if(x.checked) {
            document.getElementById("add-notify-after-consignee-form").action = x.value;
            checked = true;
          }
        })
        return checked;
      }

      </script>

    </div>


{% endblock %}
