{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-grid-row">

  <div class="govuk-width-container">

    <form class="form" action="task_list_with_carrier_completed" method="post" id="carrier">
      <a href="" class="govuk-back-link">Back</a>

      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-l">Check your answers</h1>



            <h2 class="govuk-heading-m">Consignees details</h2>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Identified by
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if (data['item-identify-consignee'] == "item_consignee_eori") %}
                  EORI number
                  {% else %}
                  Name and address
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>


            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Consignee’s EORI number
                </dt>
                <dd class="govuk-summary-list__value">
                  GB {{ data['item-consignee-eori'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>


            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Consignee name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['add-consignee-name'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>


            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Consignee address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['add-consignee-building number'] }}
                  {{ data['add-consignee-town'] }}<br>
                  {{ data['add-consignee-country'] }}<br>
                  {{ data['add-consignee-postcode'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>



            <h2 class="govuk-heading-m">Notified party</h2>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Identified by
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if (data['notify-party'] == "notified_party_eori") %}
                  EORI number
                  {% else %}
                  Name and address
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>


            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notified party’s EORI number
                </dt>
                <dd class="govuk-summary-list__value">
                  GB {{ data['notified-eori'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>



            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notified party’s name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['add-notified-name'] }}<br>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>




            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notified party’s address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['add-notified-building number'] }}
                  {{ data['add-notified-town'] }}<br>
                  {{ data['add-notified-country'] }}<br>
                  {{ data['add-notified-postcode'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>



            <h2 class="govuk-heading-m">Notified party</h2>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Identified by
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if (data['notify-party'] == "notified_party_eori") %}
                  EORI number
                  {% else %}
                  Name and address
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>


            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notified party’s EORI number
                </dt>
                <dd class="govuk-summary-list__value">
                  GB {{ data['notified-eori'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>



            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notified party’s name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['add-notified-name'] }}<br>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>



            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notified party’s address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['add-notified-building number'] }}
                  {{ data['add-notified-town'] }}<br>
                  {{ data['add-notified-country'] }}<br>
                  {{ data['add-notified-postcode'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>







            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
    </form>
  </div>
</div>
</main>
</div>
</div>



{% endblock %}