
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <nav class="hmrc-language-select" aria-label="Language switcher">
    <ul class="hmrc-language-select__list">
      <li class="hmrc-language-select__list-item">
        <span aria-current="true">English</span>
      </li>
      <li class="hmrc-language-select__list-item">
        <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="item_gross_weight" method="post" id="define-weight" onsubmit="return redirectPage()">
        <a href="can_you_provide_crn.html" class="govuk-back-link">Back</a>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How do you want to give the gross weight of the goods?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="per-item" name="item-weight" type="radio" value="check_your_answers_pre_declaration">
                <label class="govuk-label govuk-radios__label" for="is_carrier_yes" >
                  Per item
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="overall" name="item-weight" type="radio" value="item_gross_weight">
                <label class="govuk-label govuk-radios__label" for="overall">
                  Overall
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>

  <script>
    function redirectPage() {
      let checked = false;
    document.getElementsByName("item-weight").forEach((x) => {
      if(x.checked) {
        document.getElementById("define-weight").action = x.value;
        checked = true;
      }
    })
    return checked;
  }

  </script>

{% endblock %}
