
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Entry summary declaration submitted.
          </h1>
          <!-- <div class="govuk-panel__body">
            Your MRN number<br><strong> XXXYYYZZZ123</strong>
          </div> -->
        </div>

        <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">You need to monitor the status of your declaration to receive your Movement Reference Number (MRN) or see if you need to take any further action with your declaration.
        </p>

        <p class="govuk-body" style="margin-bottom:40px">
          If the journey details in your declaration change, you can amend them on your <a href="#">View Submitted Declarations page</a>.
        </p>

        <!-- <h2 class="govuk-heading-m">Download your declaration</h2>

          <p class="govuk-body">You can download a copy to print out or save on your device.</p>

          <button class="govuk-button" data-module="govuk-button" style="background-color:#1d70b8 !important;">
            Download
          </button>

          <p class="govuk-body">It will be availabe to download by 20 May 2022</p> -->

        <p class="govuk-body"><a href="index" class="govuk-link">Go back to S&S GB homepage</a></p>


        <p class="govuk-body"><a href="index" class="govuk-link">Start a new declaration</a></p>




    </div>
  </div>

{% endblock %}
