
{% extends "layout.html" %}
{% extends "hmrc/layouts/account-header.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="item_packaging" method="post">
        <a href="define_weight" class="govuk-back-link">Back</a>

        <div class="govuk-form-group">
          <span class="govuk-caption-l">Complete goods details</span>
          <h1 class="govuk-heading-l">What is the gross weight of the item?</h1>
          <div id="event-name-hint" class="govuk-hint">
          Tell us the weight of the item including its packaging but excluding the carrier’s handling equipment.
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="weight">
              Enter weight, in kilograms
            </label>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="weight" name="individual-item-weight" type="text" spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">kg</div>
            </div>
          </div>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
