
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post" onsubmit="return redirect()" id="form-item-select-loading-places">
        <a href="e" class="govuk-back-link">Back</a>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Goods details</span>
              <h1 class="govuk-fieldset__heading">
                Your loading places
              </h1>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
              Select the relevant loading place which applies.
            </div>
            <div class="govuk-radios" data-module="govuk-radios" id="element-list">
           
            </div>
            <input id="goods-item-routing" name="goods-item-routing" style="display:none">
          </fieldset>
        </div>


          </div>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>


      <script>
        function redirect() {
          let checked = false;
          document.getElementsByName("selected-unloading-place").forEach((x) => {
            if (x.checked) {
              let selectedRoutes = getList("{{data['goods-item-routing']}}")
              document.getElementById("goods-item-routing").value = selectedRoutes
              
              if (selectedRoutes.length > 0) {
                document.getElementById("form-item-select-loading-places").action = selectedRoutes.shift()
                document.getElementById("goods-item-routing").value = selectedRoutes
              } else {
                document.getElementById("form-item-select-loading-places").action = "goods_details_shipping_containers"
              }
              checked = true;
            }
          })
          return checked;
      
        }
        window.onload = function () {
      
          displayList()
      
        }
        function displayList() {
      
          let elementList = getList("{{data['place-of-loading']}}")
      
      
      
          let elementInnerHtml = ""
          var counter = 0;
          elementList.forEach(element => {
            counter++;
            elementInnerHtml = elementInnerHtml.concat(getHtmlElement(element, counter))
          })
      
      
          let elementListDOM = document.getElementById("element-list")
          elementListDOM.innerHTML = elementInnerHtml
      
        }
      
        function getHtmlElement(element, counter) {
          let htmlElement = `<div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="unloading-place-option-${counter}" name="selected-unloading-place" type="radio"
                            value="${element}">
                          <label class="govuk-label govuk-radios__label" for="unloading-place-option">
                            ${element}
                          </label>
                        </div>`
      
          return htmlElement
      
        }
        function getList(typeOfList) {
          if (typeOfList == "") {
            return Array()
          } else {
            return typeOfList.split(",")
          }
        }
      </script>






    </div>
  </div>

{% endblock %}
