
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="consignees_check_your_answers" method="post">
        <a href="item_consignor_name.html" class="govuk-back-link">Back</a><br>

        <div class="govuk-form-group">
        <span class="govuk-caption-l">Consignees and notified parties</span>
        <h1 class="govuk-heading-l">What is the consignee’s address?</h1>

        <p class="govuk-body">Building number and street <br>
        <input class="govuk-input govuk-!-width-half" id="three-quarters" name="add-consignee-building-number" type="text"> <br>

        <p class="govuk-body">Town or City <br>
        <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="add-consignee-town" type="text"></p>
        <p class="govuk-body">Country <br>
        <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="add-consignee-country" type="text"> </p>
        <p class="govuk-body">Postcode <br>
        <input class="govuk-input govuk-!-width-one-quarter" id="three-quarters" name="add-consignee-postcode" type="text"> </p>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
