{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="item_mark_or_number" method="post" id="mark-or-number-form" onsubmit="return redirect()">
      <a href="item_number_of_pieces.html" class="govuk-back-link">Back</a>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Goods details</span>
            <h1 class="govuk-fieldset__heading">
              Do you need to add a mark or number for your item?
            </h1>
          </legend>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="mark-or-number" type="radio" value="item_mark_or_number">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="mark-or-number" type="radio" value="item_check_your_answers">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>

<script>
  function redirect() {
    let checked = false;
    document.getElementsByName("mark-or-number").forEach(x => {
      if (x.checked) {
        document.getElementById("mark-or-number-form").action = x.value
        checked = true
      }
    })
    return checked
  }
</script>

{% endblock %}
