
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-width-container">
    <form class="form" action="notified_party_lists_2" method="post" id="carrier">
      <a href="" class="govuk-back-link">Back</a>

      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-l">Check your answers</h1>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Identified by
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if (data['notify-party'] == "notified_party_eori") %}
                  EORI number
                  {% else %}
                  Name and address
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notified party’s name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['add-notified-name'] }}<br>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notified party’s address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['add-notified-building number'] }}<br>
                  {{ data['add-notified-town'] }}<br>
                  {{ data['add-notified-country'] }}<br>
                  {{ data['add-notified-postcode'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="carrier_eori">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </dl>

            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </form>
          </div>
          </div>
      </main>
    </div>
  </div>



{% endblock %}
