
{% extends "layout.html" %}


{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="define_weight" method="post">
        <a href="item_commercial_reference_number.html" class="govuk-back-link">Back</a>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Provide a Commercial Reference Number (CRN)
            </h1>
          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            If you have given your goods their own unique reference, enter it here.
          </div>

          <input class="govuk-input govuk-!-width-three-quarters" id="provide_crn" name="commercial-reference-number" type="text" value="{{ data['commercial-reference-number'] }}">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
