
{% extends "layout.html" %}
{% extends "hmrc/layouts/account-header.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="pre_dec_provide_crn" method="post" id="form-pre-dec-crn" onsubmit="return redirect()">
        <a href="choose_carrier" class="govuk-back-link">Back</a>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Can you provide a unique  number for your consignment? (optional)
                </h1>
              </legend>
              <div id="changed-name-hint" class="govuk-hint">
                Provide a unique reference number for your goods which can be used to identify them within a consignment for Border Control staff.
              </div>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="pre-dec-crn" type="radio" value="pre_dec_provide_crn">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="pre-dec-crn" type="radio" value="define_weight">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  No
                </label>
              </div>
            </div>

    </fieldset>
  </div>
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
    </div>
  </div>
  <script>
    function redirect() {
      let checked = false;
      document.getElementsByName("pre-dec-crn").forEach(x => {
        if (x.checked) {
          document.getElementById("form-pre-dec-crn").action = x.value
          checked = true
        }
      })
      return checked
    }
  </script>


{% endblock %}
