{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <nav id="secondary-nav" class="hmrc-account-menu" aria-label="Account" data-module="hmrc-account-menu">
    <a href="#home" class="hmrc-account-menu__link hmrc-account-menu__link--home hmrc-account-menu__link--active">
      <span class="hmrc-account-icon hmrc-account-icon--home">
        Account home </span>
    </a>

    <a href="#" class="hmrc-account-menu__link hmrc-account-menu__link--menu js-hidden js-visible" tabindex="-1" aria-hidden="true" aria-expanded="false">
      Account menu </a>

    <ul class="hmrc-account-menu__main js-hidden">


      <li>
        <a href="#sign-out" class="hmrc-account-menu__link">
          Sign out </a>
      </li>
    </ul>
  </nav>




  <div class="govuk-grid-row">


    <nav class="hmrc-language-select" aria-label="Language switcher">
      <ul class="hmrc-language-select__list">
        <li class="hmrc-language-select__list-item">
          <span aria-current="true">English</span>
        </li>
        <li class="hmrc-language-select__list-item">
          <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
            <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
            <span aria-hidden="true">Cymraeg</span>
          </a>
        </li>
      </ul>
    </nav>


    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="transport_details" method="post" id="form-same-type-transport" onsubmit="return redirect()">
          <a href="task_list_no_carrier_completed.html" class="govuk-back-link">Back</a>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Complete transport details</span>
                <h1 class="govuk-heading-l">Is the same type of transport used at the start and end border of the journey?</h1>
              </legend>
              <div id="changed-name-hint" class="govuk-hint">
                Tell us if your goods changed from one type of transport to another during their journey.
              </div>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="same-type-transport-yes" type="radio" value="transport_details" name="same-type-transport">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="same-type-transport-no" type="radio" value="mode_of_transport_2" name="same-type-transport">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>


    </div>
  </div>
  <script>
    function redirect() {
      let checked = false;
      document.getElementsByName("same-type-transport").forEach(x => {
        if (x.checked) {
          document.getElementById("form-same-type-transport").action = x.value
          checked = true
        }
      })
      return checked
    }
  </script>
{% endblock %}
