
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <nav class="hmrc-language-select" aria-label="Language switcher">
    <ul class="hmrc-language-select__list">
      <li class="hmrc-language-select__list-item">
        <span aria-current="true">English</span>
      </li>
      <li class="hmrc-language-select__list-item">
        <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="transportation_more_docs" method="post">
        <a href="mode_of_transport" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Transport details</span>
            Rail
        </h1>
            <p class="govuk-body">Give the details of the train carrying your goods into Great Britain  - this will help Border Force officials identify the consignment.</p>


            <div class="govuk-form-group">
              <label class="govuk-label" for="wagon_number">
                Wagon number
              </label>
              <input class="govuk-input govuk-input--width-10" type="text" name="wagon_number">
            </div>

        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>









    </div>
  </div>

{% endblock %}
