{% extends "layout.html" %}
{% extends "hmrc/layouts/account-header.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="" method="post" id="transport_add_seal" onsubmit="return redirectPage()">
      <a href="transportation_seals_number" class="govuk-back-link">Back</a>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Complete transport details</span>
            <h1 class="govuk-fieldset__heading">Security seal</h1>
          </legend>

          <p class="govuk-body">Add, change, or remove details of any Security seals attached to your consignment.</p>


          <h1 class="govuk-heading-m">You have added 1 security seal below</h1>
          <div class="govuk-form-group">
            <dl class="hmrc-list-with-actions hmrc-list-with-actions--short" id="element-list">
             
            </dl>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                Do you need to add another security seal?
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="transportation_seals_number" name="add-another-seal" type="radio" value="transportation_seals_number">
                  <label class="govuk-label govuk-radios__label" for="add-another">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="check_your_answers_transport_details" name="add-another-seal"
                    type="radio" value="check_your_answers_transport_details">
                  <label class="govuk-label govuk-radios__label" for="add-another-2">
                    No
                  </label>
                </div>
              </div>
              <input id="seals-identity-number-index" name="seals-identity-number-index" style="display:none">
            </fieldset>
          </div>

        </fieldset>
      </div>

      <input type="hidden" name="mode-of-transport">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

      <script>
        function redirectPage() {
          let checked = false;
          document.getElementsByName("add-another-seal").forEach((x) => {
            if (x.checked) {
              document.getElementById("transport_add_seal").action = x.id;
              checked = true;
            }
          })
          return checked;
        }

        window.onload = function () {

          displayList()

        }

        function displayList() {

          let elementList = getList("{{data['seals-identity-number']}}")



          let elementInnerHtml = ""
          var counter = 0;
          elementList.forEach(element => {

            elementInnerHtml = elementInnerHtml.concat(getHtmlElement(element, counter))
            counter++;
          })


          let elementListDOM = document.getElementById("element-list")
          elementListDOM.innerHTML = elementInnerHtml

        }

        function getHtmlElement(element, counter) {
          const redirectPageName = "transportation_seals_number"
          const nameProperty = "seals-identity-number-index"
          const id = `seals-identity-number-${counter}`

          let htmlElement = `<div class="hmrc-list-with-actions__item">
          <dt class="hmrc-list-with-actions__name">
            ${element}
          </dt>
          <div class="hmrc-list-with-actions__actions">
            <dd class="hmrc-list-with-actions__action">
              <a class="govuk-link" href="#" id="${id}" onclick="return change(this.id, ${counter})" >
                <span aria-hidden="true">Change</span>
                <span class="govuk-visually-hidden">Change Sydney Russell</span>
              </a>
            </dd>
            <dd class="hmrc-list-with-actions__action">
              <a class="govuk-link" href="${redirectPageName}">
                <span aria-hidden="true">Remove</span>
                <span class="govuk-visually-hidden">Remove Sydney Russell from the list</span>
              </a>
            </dd>
          </div>
        </div>`

          return htmlElement

        }
        function getList(typeOfList) {
          if (typeOfList == "") {
            return Array()
          } else {
            return typeOfList.split(",")
          }
        }

        function change(id, counter) {
          const formId = "transport_add_seal"
          const formIdRedirect = "transportation_seals_number"
          
          let form = document.getElementById(formId)

          form.action = formIdRedirect
          alert(counter)
          document.getElementById("seals-identity-number-index").value = counter
          form.submit()
          return true;
        }

      </script>

    </form>






  </div>
</div>

{% endblock %}